{% extends "course_drapeau/base.html" %}
{% load static %}
{% block title %}
    Course au drapeau
{% endblock title %}
{% block content %}
    <section id="accueil">
        <div>
            <br>
            <h3 style="text-align: center">Du vendredi 1er décembre</h3>
            <h3 style="text-align: center">au mardi 5 décembre</h3>
            <br>
            <img src="{% static 'img/logo_course_drapeau.png' %}"
                 alt="logo"
                 id="logo_BX"
                 height="auto"
                 width="auto"
                 style="padding-left:40px">
        </div>
    </section>
{% endblock content %}
