{% extends "course_drapeau/base.html" %}
{% block title %}
    Suivi de la course
{% endblock title %}
{% block content %}
    {% with board_color as '1486aa' %}
        <br>
        <br>
        <h3 style="text-align: center">Le suivi en direct de la course se fera ici</h3>
        {% comment %} <iframe id="suivi-frame" src="https://racemap.com/player/course-bordeaux-x_2022-11-27#color={{ board_color }}" loading="lazy" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe> {% endcomment %}
    {% endwith %}
{% endblock content %}
