/*******************************************************************/
/* ABOUT */
/*******************************************************************/
.accordion-button {
    background-color: #e7f1ff;
}

.aboutH2 {
    margin-left: 20px;
}

#about-messageFin {
    margin-top: 30px;
}

/*******************************************************************/
/* form */
/*******************************************************************/
.form-control {
    width: 400px;
}

.centerer-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*******************************************************************/
/* FOOTER */
/*******************************************************************/
.mainContent {
    min-height: calc(100vh - 122px);
}

.mainfooter {
    bottom: 0;
    width: 100%;
}

.mainfooter div {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.mainfooter div div {
    padding: 0;
}

footer img {
    height: 50px;
}


/*******************************************************************/
/* Admin */
/*******************************************************************/
.pageContainer {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
}

.pageContainer div {
    padding: 4px;
    border: solid;
    flex-basis: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pageContainer div div {
    padding: 0;
    border: none;
}

.adminTitle {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

.adminView label {
    width: 300px;
    margin-top: 30px;
}


#modifyPerso {
    margin-bottom: 5px;
}

.admin-sectionDesc {
    padding-left: 35px;
    font-style: italic;
}

#admin-textarea {
    width: 100%;
}

#admin-modify {
    display: none;
}

.admin-onglet {
    display: none;
}

#admin-contenu-onglet {
    margin-bottom: 30px;
}

#admin-modify-button {
    margin-bottom: 30px;
}

.admin-icon{
    height: 15px;
}

.admin-button-add{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    text-align: right;
}

#admin-add{
    display: none;
}

.admin-form{
    display: none;
}

.admin-new-area{
    margin-left: 30px;   
}

/*******************************************************************/
/* ESPACE PERSO */
/*******************************************************************/
.card {
    width: 32%;
    margin: 1%;
    position: relative;
    top: 0;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.721);
}

.card-valid {
    background-color: rgba(0, 128, 0, 0.548)
}

.espacePersoRowContainer {
    display: flex;
    flex-direction: row;
}

.card-body {
    display: flex;
    align-items: center;
    text-align: center;
}

.card-body h2 {
    font-size: 1.5rem;
}


.progression {
    font-size: 1.2rem;
}

.espacePersoMainContainer {
    padding: 0 10% 0 10%;
}

.parité {
    background-color: rgba(128, 128, 128, 0.414);
}

.parité1 {
    background-color: rgba(17, 73, 147, 0.381);
}

.admin-structure-page{
    padding-bottom: 20px;
}

.onglet {
    display: none;
    font-size: 1.2rem;
}

#espacePerso-certif-button {
    margin-bottom: 60px;
}


.espacePerso-firstLine {
    margin-top: 30px;
}

.form-check{
    display: inline-block;
}

#espacePerso-num_places{
    display: none;
}

#espacePerso-form-desc{
    font-size:medium;
    font-style: italic;
}

#formPerso{
    margin-top: 0;
}

#espacePerso-input-allergie{
    display: none;
}

.espacePerso-input-permis{
    display: none;
}

.espacePerso-content-hebergement{
    margin-left: 40px;
    margin-top: 23px;
}

.espacePerso-content-hebergement-intro{
    margin-bottom: 5px;
}

.espacePerso-content-troncons-color{
    width: 50px;
    text-align: center;
    display: inline-block;
}

/*******************************************************************/
/* connect */
/*******************************************************************/
#connect-form{
    display: none;
}
.connect-btn{
    width: 400px;
    font-size: x-large;
}


/*******************************************************************/
/* Tree View */
/*******************************************************************/
/* Remove default bullets */
ul,
#myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
    margin: 0;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

/*******************************************************************/
/* Inscription */
/*******************************************************************/
.progress-bar {
    width: 0%;
}

.inscriptionForm {
    justify-content: space-around;
    margin-right: 0;
}

.inscriptionVerif {
    width: 38%;
    margin-top: 3%;
}

/*******************************************************************/
/* Accueil */
/*******************************************************************/
#accueil {
    margin-left: 30vw;
    background-image: url(../img/logo_BX.png);
    background-repeat:no-repeat;
    min-height: 550px;
}

.accueil-img {
    height: 300px;
}


/*******************************************************************/
/* Troncons */
/*******************************************************************/
#tronconsListe {
    padding-top: 20px;
}

#map {
    display: none;
    margin-top: 20px;
    height: 502.9px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

#carte {
    display: none;
}

#map2 {
    margin-top: 20px;
    height: 502.9px;
    width: 80%;
    margin-left: 10%;
}

.troncons-button {
    border: none;
    background-color: inherit;
}

.troncons-button:hover {
    font-weight: bold;
}

#troncons-column-visualize {
    width: 120px;
}

.troncons-icon {
    width: 28px;
}

#troncons-table {
    text-align: center;
}

#troncons-switch {
    margin-top: 30px;
}

/*******************************************************************/
/* Pop-up */
/*******************************************************************/
.cs-popup {
    display: none;
    position: fixed;
    z-index: 999;
    background-color: rgba(43, 41, 41, 0.48);
    padding-top: 100px;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cs-popup-content {
    background-color: #ffffff;
    width: 40%;
    padding: 16px;
    margin: auto;
    border: 1px solid #888;
}


/*******************************************************************/
/* Navbar */
/*******************************************************************/
.nav-mainContainer {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    height: 80px;
}

.nav-container {
    width: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(20, 134, 170, 0.7);
    align-items: center;

}

.nav-container:hover {
    background-color: rgba(20, 134, 170);
    cursor: pointer;
}

.nav-content {
    line-height: 80px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-container:hover .nav-content {
    font-weight: 700;
}

.nav-bar {
    z-index: 10;
    position: absolute;
    width: 10vw;
    border-top: 6px solid black;
    opacity: 0;
}

.nav-container:hover .nav-bar {
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.23, 0.91, 0.97, 1.09);
}

.nav-bot {
    margin-top: 74px;
}

.nav-top {
    margin-top: 2px;
}

.nav-container:hover .nav-top {
    margin-top: 20px;
}

.nav-container:hover .nav-bot {
    margin-top: 63px;
}

.nav-h1 {
    line-height: 1.5;
    margin: 0;
}

/*******************************************************************/
/* contact */
/*******************************************************************/
#contact-presentation {
    margin: 30px 0 0 30px;
}