<!DOCTYPE html>
<html lang="fr" meta="">
    <head>
        <meta name="description"
              content="Site de la course au drapeau organisée par l'école Polytechnique" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="course, drapeau, école Polytechnique, Bordeaux, BX, course-drapeau, course au drapeau">
        <meta name="author" content="Pierre-Emmanuel Baviere">
        <meta name="title" content="Course au drapeau">
        {% include "course_drapeau/css.html" %}
        {% include "course_drapeau/js.html" %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <div class="mainContent">
            {% include "course_drapeau/navbar.html" %}
            <header>
                <div class="bg-primary bg-gradient text-center">
                    <h1 class="nav-h1">Course au drapeau</h1>
                </div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
        {% include "course_drapeau/footer.html" %}
    </body>
</html>
