{% load tags %}
<nav>
    <div class="nav-mainContainer">
        {% for navbar_item in navbar %}
        {% navbar_item_display navbar_item user as display %}
        {% if display %}
            <div class="nav-container">
                <a href="{% url navbar_item.page_name %}">
                <div id="{{ navbar_item.page_name }}" class="nav-content">{{ navbar_item.title }}</div>
                <div class="nav-bar nav-top"></div>
                <div class="nav-bar nav-bot"></div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</nav>
