{% extends "course_drapeau/pages/account/cards/base.html" %}
{% load utils %}
{% block content %}
    {% if user.driver %}
        <p class="espacePerso-firstLine">Tu n'as pas besoin de renseigner de certificat.</p>
    {% else %}
        {% with runner=user.runner %}
            {% if runner.medical_certificate %}
                <p id="espacePerso-messageCertif" class="espacePerso-firstLine">
                    Tu as déjà mis ton certificat médical. Cliques
                    <a href="{% url "medical_certificate" runner.pk %}"
                       target="_blank">ici</a> pour le voir et
                    <a href="" id="espacePerso-modifyCertif">ici</a> pour le modifier
                </p>
            {% endif %}
            <div class="centerer-container"
                 {% if runner.medical_certificate %}style="display: none"{% endif %}
                 id="espacePerso-certificatUpload">
                <div class="centerer-container" id="espacePerso-certificatUpload">
                    <form enctype="multipart/form-data"
                          action="{% url 'account' %}"
                          method="post">
                          {% csrf_token %}
                        <div class="mb-3">
                            {{ medical_certificate_form.as_p }}
                        </div>
                        <button id="espacePerso-certif-button" type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endblock content %}
