{% extends "course_drapeau/pages/account/cards/base.html" %}
{% block content %}
    <div id="espacePerso-modify-infosPerso">
        <p class="espacePerso-firstLine">Tu as déjà complété cet onglet.</p>
        <button id="modifyPerso" class="btn btn-primary">Modifier mes informations</button>
        <br>
        <br>
    </div>
    <div id="formPerso" class="centerer-container ms-4" style="display:none">
        <div class="mt-2 mb-2">
            Prénom: {{ user.first_name }}
            <br>
            Nom: {{ user.last_name }}
            <br>
            Email: {{ user.email }}
            <br>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ user_type_form }}
                {% comment %} {{ driver_form }} {% endcomment %}
                {{ runner_form }}
                <br>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
{% endblock content %}
