{% extends "course_drapeau/pages/account/cards/base.html" %}
{% block content %}
    <p class="espacePerso-firstLine">Liste d'affaires à emmener :</p>
    <ul>
        <li>Affaires de sport chaudes (courrir de nuit en hiver peut être subissant)</li>
        <li>1 montre avec GPS éventuellement (pour suivre l'itinéraire)</li>
        <li>1 sac de couchage</li>
        <li>Lampe frontale avec piles de rechange</li>
        <li>Sac de running et poche à eau</li>
        <li>Bracelet réfléchissant si tu as (pour la course de nuit)</li>
    </ul>
{% endblock content %}
