/*******************************************************************/
/* ABOUT */
/*******************************************************************/
.accordion-button {
    background-color: #e7f1ff;
}

/*******************************************************************/
/* form */
/*******************************************************************/
.form-control {
    width: 400px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-top: 50px;
}

/*******************************************************************/
/* FOOTER */
/*******************************************************************/
.mainfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mainfooter div {
    padding-top: 2em;
    padding-bottom: 1em;
}

.mainfooter div div {
    padding: 0;
}

/*******************************************************************/
/* Admin */
/*******************************************************************/
.pageContainer {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
}

.pageContainer div {
    padding: 4px;
    border: solid;
    flex-basis: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pageContainer div div {
    padding: 0;
    border: none;
}

.adminSection {
    padding-top: 20px;
}

.adminSection article {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.adminSection article button {
    margin-top: 20px;
}

.adminSection article textarea {
    width: 100%;
    min-height: 100px;
}


#activeModif {
    background-color: #26962698;
}