/*******************************************************************/
/* ABOUT */
/*******************************************************************/
.accordion-button {
    background-color: #e7f1ff;
}

.aboutH2{
    margin-left: 20px;
}

/*******************************************************************/
/* form */
/*******************************************************************/
.form-control {
    width: 400px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-top: 50px;
}

/*******************************************************************/
/* FOOTER */
/*******************************************************************/
.mainContent {
    min-height: calc(100vh - 122px);
}

.mainfooter {
    bottom: 0;
    width: 100%;
}

.mainfooter div {
    padding-top: 2em;
    padding-bottom: 1em;
}

.mainfooter div div {
    padding: 0;
}



/*******************************************************************/
/* Admin */
/*******************************************************************/
.pageContainer {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
}

.pageContainer div {
    padding: 4px;
    border: solid;
    flex-basis: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pageContainer div div {
    padding: 0;
    border: none;
}

.adminSection {
    padding-top: 15px;
    padding-left: 20px;
}

.adminSection article {
    padding-top: 30px;
}

.adminSection article button {
    margin-top: 15;
}

.adminSection article textarea {
    width: 70%;
    min-height: 100px;
}

#activeModif {
    background-color: #26962698;
}

.adminTitle{
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

.adminView label{
    width: 300px;
}

#AdminStructure{
    display: inherit;
}

#AdminModification{
    display: none;
}